<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTD/PLIST/1.0.dtd">
<plist version="1.0">
<dict>
        <key>CFBundleName</key><string>AJBN Connect</string>
        <key>CFBundleDisplayName</key><string>AJBN Connect</string>
        <key>CFBundleIdentifier</key><string>uk.co.ajbn.connect</string>
        <key>CFBundleVersion</key><string>21</string>
        <key>CFBundleShortVersionString</key><string>1.0.3</string>
        <key>CFBundleExecutable</key><string>$(EXECUTABLE_NAME)</string>
        <key>CFBundlePackageType</key><string>APPL</string>
        <key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
        <key>LSRequiresIPhoneOS</key><true/>
        <key>CFBundleIcons</key><dict><key>CFBundlePrimaryIcon</key><dict><key>CFBundleIconName</key><string>AppIcon</string></dict></dict>
        <key>CFBundleIcons~ipad</key><dict><key>CFBundlePrimaryIcon</key><dict><key>CFBundleIconName</key><string>AppIcon</string></dict></dict>
        <key>CFBundleIconName</key><string>AppIcon</string>
        <key>NSCameraUsageDescription</key><string>For profile photos and event networking</string>
        <key>NSPhotoLibraryUsageDescription</key><string>For profile photos</string>
        <key>UILaunchStoryboardName</key><string>LaunchScreen</string>
        <key>UIRequiresFullScreen</key><true/>
        <key>ITSAppUsesNonExemptEncryption</key><false/>
</dict>
</plist>
